body{
    margin: 0%;
}
header{
    padding: 1%;
    height: 8vh;
    background-color: #B11313;
}
header > div.leftbox{
    float: left;
    width: 25%;
    margin-left: 10%;
}
header > nav.rightbox{
    float: right;
    width: 60%;
}
li.btn{
    display: inline;
    width: 5%;
}
li.btn a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 0% 2%;
    float: right;
    margin-right: 10%;
}
.one{
    background-image: url('../Assets/Illustration/img35.png');
    color: white;
    height: 100vh;
    margin-top: -21px;
}
.one h1, p{
    margin-left: 10%;
}
footer#black{
    background-color: black;
    color: white;
}
.block7{
    width: 100%;
    display: flex;
    flex-direction: row;
}
ul.btn2{
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    padding: 2% 15%;
}
ul.btn2 li{
    padding: 2% 3%;
}
a{
    text-decoration: none;
    color: white;
}
li.btn0{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding-top: 5%;
}
ul.btn1{
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    padding: 2% 35%;
}
ul.btn1 li{
    padding: 2%;
    float: right;
}
.eto{
    width: 40%;
}
.ery{
    width: 40%;
    float: right;
}
.any{
    width: 20%;
}
ul li.btn3{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #B11313;
    border-radius: 100px;
    padding: 1%;
}